modules = ["nodejs-18", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "3000"
ADMIN_PASS = "8877"
ADMIN_WALLET = "UQCTqV9scQaZR0DHzOnMrOCCY7z3MIT0QfoNrtUDZiXHY1"
BOT_TOKEN = "8723424935:AAGUQUeYExLcJfZAImpk6jWi_tJIG8lYa6k"
MONGO_URI = "mongodb+srv://LoonxGifts:112233444@cluster0.yyo66l5.mongodb.net/loonxgifts?retryWrites=true&w=majority"
TON_API_KEY = "90544364b2356ed439d5137077a22f353adf1a8dfec9b1470f6bc52aa66f1ac0"
WEB_APP_URI = "loonxgift--ryaboymb.replit.app"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 10000
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["node", "server.js"]
